.grid-scoreinput {
  margin: 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 220px;
  grid-template-areas: "grid-action grid-kind grid-detail coat coat" "grid-action grid-kind grid-detail coat coat" "grid-action grid-kind grid-detail coat coat" "grid-action grid-kind grid-detail coat coat" "grid-action grid-kind grid-detail coat coat" "grid-action grid-kind grid-detail coat coat" "score score score score score";
}

.grid-action {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "serve" "spike" "block" "receive" "other_miss" "faul";
  grid-area: grid-action;
}

.spike {
  grid-area: spike;
}

.block {
  grid-area: block;
}

.receive {
  grid-area: receive;
}

.serve {
  grid-area: serve;
}

.other_miss {
  grid-area: other_miss;
}

.faul {
  grid-area: faul;
}

.grid-kind {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "rally" "point" "miss" "a" "b" "c";
  grid-area: grid-kind;
}

.rally {
  grid-area: rally;
}

.point {
  grid-area: point;
}

.miss {
  grid-area: miss;
}

.grid-detail {
  margin-right: 20px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "detail1" "detail2" "detail3" "detail4" "detail5" "detail6";
  grid-area: grid-detail;
}

.detail1 {
  grid-area: detail1;
}

.detail2 {
  grid-area: detail2;
}

.detail3 {
  grid-area: detail3;
}

.detail4 {
  grid-area: detail4;
}

.detail5 {
  grid-area: detail5;
}

.detail6 {
  grid-area: detail6;
}

.score {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  grid-area: score;
}

.coat {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a7 a8 rotate-a" "a4 a5 a6" "a3 a2 a1" "b1 b2 b3" "b6 b5 b4" "rotate-b b8 b7";
  grid-area: coat;
}

.a1 {
  grid-area: a1;
}

.a2 {
  grid-area: a2;
}

.a3 {
  grid-area: a3;
}

.a4 {
  grid-area: a4;
}

.a5 {
  grid-area: a5;
}

.a6 {
  grid-area: a6;
}

.a7 {
  grid-area: a7;
}

.a8 {
  grid-area: a8;
}

.rotate-a {
  grid-area: rotate-a;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b4 {
  grid-area: b4;
}

.b5 {
  grid-area: b5;
}

.b6 {
  grid-area: b6;
}

.b7 {
  grid-area: b7;
}

.b8 {
  grid-area: b8;
}

.rotate-b {
  grid-area: rotate-b;
}
